@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Nancy.Validation;
@using Bilin3d.HtmlExtensions;
@using System.Collections.Generic;

@{
    Layout = "_Layout.cshtml";
}

@section BreadCrumbs {
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">订单付款</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">付款</li>
            </ul>
        </div><!--/container-->
    </div>
}

@section Acount {
    @Html.Partial("_Acount.cshtml")
}

@section Javascript{
    <script>
        $(function () {
            var i = 0;
            var int = setInterval(function () {
                i++;
                if (i === 120) {
                    window.clearInterval(int);
                }
                $.get("/order/notice/@Model.orderId", function (data) { 
                    if (data.message == "success") {
                        window.location = "/order/paysuccess";
                    }
                });
            }, 5000);
        });
    </script>
}

<div class="row" style="padding:0px 15px 0px 15px;margin-top:-30px;">
    <div>
        <div class="modal-content" style="box-shadow:none;">
            <div class="modal-header">
                <h4 id="myModalLabel1" class="modal-title">订单号:@Model.orderId   <span style="padding-left:350px;font-weight:bold;">应付金额: @Model.amount</span></h4>
            </div>
            <div class="modal-body">
                <p><img src="/images/wxpay/WePayLogo.png" style="width:130px;"  /></p>
                <p>
                    <img src="/order/qrcode/@Model.orderId" alt="" style="width:180px;margin:0px 0px 0px 100px;" />
                </p>
                <p><img src="/images/wxpay/sm.png" style="width:180px;margin:0px 0px 0px 100px;" /></p>
                <p>支付完后，订单状态更新可能会有几秒的延迟!</p>
            </div>
            <div class="modal-footer" style="text-align:left;">
                <a data-dismiss="modal" class="btn-u" href="/order">已完成支付</a>
            </div>
        </div>
    </div>
</div>