@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Bilin3d.HtmlExtensions;
@using System.Collections.Generic;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>订单查询</title>
    <link href="/resource/vux/dist/vux.css" rel="stylesheet" />
    <style type="text/css">
        header {
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        .vux-scroller-header-box {
            padding-top: 100px;
        }
    </style>
    <script src="/resource/vue/vue.js"></script>
</head>
<body>
    <div id="app">

        <header>
            <x-header :left-options="{showBack: false}">订单查询</x-header>
            <tab :line-width=1>
                <tab-item v-on:click="showTab(0)">待付款</tab-item>
                <tab-item v-on:click="showTab(1)">待发货</tab-item>
                <tab-item v-on:click="showTab(2)">待收货</tab-item>
                <tab-item v-on:click="showTab(3)">已完成</tab-item>
            </tab>
        </header>

        <loading :show="loadingshow" :text=""></loading>

        <div class="vux-scroller-header-box" v-show="vs===0">
            <scroller lock-x :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div>
                    <div v-for="order in orders1">
                        <div>订单号:{{order.orderid}}</div>
                        <div v-for="item in order.detail">
                            <div>{{item.MatName}}</div>
                            <div>{{item.Amount}}</div>
                            <div>{{item.Num}}</div>
                            <div>{{item.Size}}</div>
                        </div>
                    </div>
                </div>
            </scroller>
        </div>

        <div class="vux-scroller-header-box" v-show="vs===1">
            <scroller lock-x :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div>
                    <group v-for="order in orders3">
                        <cell title="order.orderid"></cell>
                    </group>
                </div>
            </scroller>
        </div>

        <div class="vux-scroller-header-box" v-show="vs===2">
            <scroller lock-x :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div>
                    <group v-for="order in orders3">
                        <cell title="order.orderid"></cell>
                    </group>
                </div>
            </scroller>
        </div>

        <div class="vux-scroller-header-box" v-show="vs===2">
            <scroller lock-x :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div>2</div>
            </scroller>
        </div>

        <popup :show.sync="bandingshow" height="100%">
            <div>
                <header>
                    <x-header :left-options="{showBack: false}">
                        帐号绑定
                        <a slot="right" v-on:click="bandingshow=false">关闭</a>
                    </x-header>
                </header>
                <div style="padding-top:54px;">
                    <div style="margin:3px 0px 8px 18px;color:red;font-size:12px;">
                        你的微信还未绑定，请填写帐号密码，绑定后才能查看订单信息！
                    </div>
                    <x-input title="用户：" placeholder="电子邮箱" type="email" required="required" :value.sync="username"></x-input>
                    <x-input title="密码：" placeholder="密码" type="password" required="required" :value.sync="pwd"></x-input>

                    <div style="margin:6px 15px 6px 15px;">
                        <x-button type="primary" v-on:click="onSubmit">绑定</x-button>
                    </div>
                </div>
            </div>
        </popup>

    </div>

    <script src="/resource/vux/dist/components/group/index.js"></script>
    <script src="/resource/vux/dist/components/cell/index.js"></script>
    <script src="/resource/vux/dist/components/tab/index.js"></script>
    <script src="/resource/vux/dist/components/tab-item/index.js"></script>
    <script src="/resource/vux/dist/components/sticky/index.js"></script>
    <script src="/resource/vux/dist/components/button-tab/index.js"></script>
    <script src="/resource/vux/dist/components/button-tab-item/index.js"></script>
    <script src="/resource/vux/dist/components/search/index.js"></script>
    <script src="/resource/vux/dist/components/selector/index.js"></script>
    <script src="/resource/vux/dist/components/divider/index.js"></script>
    <script src="/resource/vux/dist/components/x-button/index.js"></script>
    <script src="/resource/vux/dist/components/x-input/index.js"></script>
    <script src="/resource/vux/dist/components/popup/index.js"></script>
    <script src="/resource/vux/dist/components/x-header/index.js"></script>
    <script src="/resource/vux/dist/components/icon/index.js"></script>
    <script src="/resource/vux/dist/components/scroller/index.js"></script>
    <script src="/resource/vux/dist/components/loading/index.js"></script>
    <script src="/resource/vux/dist/components/tip/index.js"></script>

    <script src="/resource/fastclick/lib/fastclick.js"></script>
    <script src="/resource/jquery/dist/jquery.js"></script>

    <script>
        FastClick.attach(document.body);

        // register components
        Vue.component('group', vuxGroup);
        Vue.component('cell', vuxCell);
        Vue.component('sticky', vuxSticky);
        Vue.component('tab', vuxTab);
        Vue.component('tab-item', vuxTabItem);
        Vue.component('button-tab', vuxButtonTab);
        Vue.component('button-tab-item', vuxButtonTabItem);
        Vue.component('search', vuxSearch);
        Vue.component('selector', vuxSelector);
        Vue.component('divider', vuxDivider);
        Vue.component('x-button', vuxXButton);
        Vue.component('x-input', vuxXInput);
        Vue.component('popup', vuxPopup);
        Vue.component('x-header', vuxXHeader);
        Vue.component('icon', vuxIcon);
        Vue.component('scroller', vuxScroller);
        Vue.component('loading', vuxLoading);
        Vue.component('tip', vuxTip);

        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    vs: 0,
                    orders1: [],
                    orders2: [],
                    orders3: [],
                    orders3: [],
                    username: "",
                    pwd: "",
                    userid: "@Model.Userid",
                    openid: "@Model.Openid",
                    loadingshow: false,
                    bandingshow: '@Model.Userid' === ''
                }
            },
            methods: {
                showTab: function (val) {
                    this.vs = val;
                },
                onSubmit: function () {
                    $.post("./bindaccountwx/" + this.openid, { username: this.username, pwd: this.pwd }, function (data) {
                        vm.bandingshow = false;
                        loadingshow = true;
                        $.get("./order/" + data.userid, function (data) {
                            $.each(data, function (index, value) {
                                if (value.state === '1') {
                                    vm.orders1 = value.orders;
                                }
                                if (value.state === '5') {
                                    vm.orders2 = value.orders;
                                }
                                if (value.state === '6') {
                                    vm.orders3 = value.orders;
                                }
                            });
                        });
                    });
                }
            },
            ready: function () {
                if (this.userid != '') {
                    $.get("./order/" + this.userid, function (data) {
                        $.each(data, function (index, value) {
                            if (value.state === '1') {
                                vm.orders1 = value.orders;
                            }
                            if (value.state === '5') {
                                vm.orders2 = value.orders;
                            }
                            if (value.state === '6') {
                                vm.orders3 = value.orders;
                            }
                        });
                    });
                }
            }

        });
    </script>
</body>
</html>
