<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>订单查询</title>
    <link href="/resource/vux/dist/vux.css" rel="stylesheet" />
    <style type="text/css">
        body, html {
        }

        header {
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        .vux-scroller-header-box {
            padding-top: 100px;
        }
    </style>
    <script src="/resource/vue/vue.js"></script>
</head>
<body>
    <div id="app">

        <header>
            <x-header :left-options="{showBack: false}">订单查询</x-header>
            <tab :line-width=1>
                <tab-item selected v-on:click="showTab(0)">待付款</tab-item>
                <tab-item v-on:click="showTab(1)">已发货</tab-item>
                <tab-item v-on:click="showTab(2)">已完成</tab-item>
            </tab>
        </header>

        <loading :show="loadingshow" :text=""></loading>

        <div class="vux-scroller-header-box" v-show="vs===0">
            <scroller :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div>

                    <a href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx34e6d95f227d51be&redirect_uri=http%3A%2F%2Fwww.3dworks.cn%2Fm%2Fsuccess&response_type=code&scope=snsapi_base&state=123#wechat_redirect'>验证1</a>

                    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx34e6d95f227d51be&redirect_uri=http%3A%2F%2Fwww.3dworks.cn%2Fm%2Fsuccess&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect">验证2</a>

                </div>
            </scroller>
        </div>

        <div class="vux-scroller-header-box" v-show="vs===1">
            <scroller :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div>1</div>
            </scroller>
        </div>

        <div class="vux-scroller-header-box" v-show="vs===2">
            <scroller :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div>2</div>
            </scroller>
        </div>

        <popup :show.sync="bandingshow" height="100%">
            <div>
                <header>
                    <x-header :left-options="{showBack: false}">
                    帐号绑定
                    @*<a slot="right" v-on:click="bandingshow=false">关闭</a>*@
                    </x-header>
                </header> 
                <div style="padding-top:54px;">
                    <div style="margin:3px 0px 8px 18px;color:red;font-size:12px;">
                        你的微信还未绑定，请填写帐号密码，绑定后才能查看订单信息！
                    </div>                    
                    <x-input title="用户：" placeholder="电子邮箱"  type="email" required="required" :value.sync="username"></x-input>
                    <x-input title="密码：" placeholder="密码" type="password" required="required" :value.sync="pwd"></x-input>
                  
                    <div style="margin:6px 15px 6px 15px;">
                        <x-button type="primary" v-on:click="onSubmit">绑定</x-button>
                    </div>
                </div>
            </div>
        </popup>

    </div>

    <script src="/resource/vux/dist/components/group/index.js"></script>
    <script src="/resource/vux/dist/components/cell/index.js"></script>
    <script src="/resource/vux/dist/components/tab/index.js"></script>
    <script src="/resource/vux/dist/components/tab-item/index.js"></script>
    <script src="/resource/vux/dist/components/sticky/index.js"></script>
    <script src="/resource/vux/dist/components/button-tab/index.js"></script>
    <script src="/resource/vux/dist/components/button-tab-item/index.js"></script>
    <script src="/resource/vux/dist/components/search/index.js"></script>
    <script src="/resource/vux/dist/components/selector/index.js"></script>
    <script src="/resource/vux/dist/components/divider/index.js"></script>
    <script src="/resource/vux/dist/components/x-button/index.js"></script>
    <script src="/resource/vux/dist/components/x-input/index.js"></script>
    <script src="/resource/vux/dist/components/popup/index.js"></script>
    <script src="/resource/vux/dist/components/x-header/index.js"></script>
    <script src="/resource/vux/dist/components/icon/index.js"></script>
    <script src="/resource/vux/dist/components/scroller/index.js"></script>
    <script src="../resource/vux/dist/components/loading/index.js"></script>
    <script src="../resource/vux/dist/components/tip/index.js"></script>

    <script src="/resource/fastclick/lib/fastclick.js"></script>
    <script src="/resource/jquery/dist/jquery.js"></script>
       
    <script>
        FastClick.attach(document.body);

        // register components
        Vue.component('group', vuxGroup);
        Vue.component('cell', vuxCell);
        Vue.component('sticky', vuxSticky);
        Vue.component('tab', vuxTab);
        Vue.component('tab-item', vuxTabItem);
        Vue.component('button-tab', vuxButtonTab);
        Vue.component('button-tab-item', vuxButtonTabItem);
        Vue.component('search', vuxSearch);
        Vue.component('selector', vuxSelector);
        Vue.component('divider', vuxDivider);
        Vue.component('x-button', vuxXButton);
        Vue.component('x-input', vuxXInput);
        Vue.component('popup', vuxPopup);
        Vue.component('x-header', vuxXHeader);
        Vue.component('icon', vuxIcon);
        Vue.component('scroller', vuxScroller);
        Vue.component('loading', vuxLoading);
        Vue.component('tip', vuxTip);

        var vm = new Vue({
           el: '#app',
           data : function(){
                return {
                    vs: 0,
                    orders1:[],
                    orders2:[],
                    orders3: [],
                    username: "",
                    pwd:"",
                    loadingshow: false,
                    bandingshow:false
                }
            },            
            methods: {                
                showTab : function(val){
                    this.vs= val;
                },
                onSubmit:function(){
                }
            },
            ready: function () {               
                //$.get('./data.json', function (result) {                  
                //    vm.shops = result.data                   
                //});
            }

        });
    </script>
</body>
</html>
